<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Receipt</h4>
        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Order N°
                                    </th>
                                    <th>
                                        Company                                        
                                    </th>
                                    <th>
                                        Type of order
                                    </th>
                                    <th>
                                        Customer
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dashdoor
                                        </td>
                                        <td>
                                            Takeout
                                        </td>
                                        <td>
                                            Mike
                                        </td>
                                        <td class="text-primary">
                                            $36,73
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            uber Eats
                                        </td>
                                        <td>
                                            Dining
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td class="text-primary">
                                            $23,78
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Pandafood
                                        </td>
                                        <td>
                                            takeout
                                        </td>
                                        <td>
                                            Sage
                                        </td>
                                        <td class="text-primary">
                                            $56,14
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Grubhub
                                        </td>
                                        <td>
                                            Takeout
                                        </td>
                                        <td>
                                            Nicole
                                        </td>
                                        <td class="text-primary">
                                            $38,73
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Seamless
                                        </td>
                                        <td>
                                            Takeout
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td class="text-primary">
                                            $63,54
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Total
                                        </td>
                                        <td>
                                           
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td>
                                            
                                        </td>
                                        <td class="text-primary">
                                            $217,92
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  