<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Delivery man stats</h4>
                      <p class="card-category">Last 24 Hours</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                    Company
                                  </th>
                                  <th>
                                      Phone number
                                  </th>
                                  <th>
                                       Number of orders
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Damien Rice
                                      </td>
                                      <td>
                                          DashDoor
                                      </td>
                                      <td>
                                          +21 544 654 44
                                      </td>
                                      <td class="text-primary">
                                          10
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Anderas Rodriguez
                                      </td>
                                      <td>
                                        Uber eats
                                      </td>
                                      <td>
                                        +56 568 45
                                      </td>
                                      <td class="text-primary">
                                        20
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Panda Food
                                      </td>
                                      <td>
                                         +266 556 44
                                      </td>
                                      <td class="text-primary">
                                          30
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          David Jamson
                                      </td>
                                      <td>
                                        GrubHub
                                      </td>
                                      <td>
                                          +26 55 485
                                      </td>
                                      <td class="text-primary">
                                          15
                                      </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
         
      </div>
  </div>
</div>
